#main-nav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-top: 20px;
	margin-bottom: 30px;
}

.nav-item {
	display: inline-block;
	width: 108px;
	height: 160px;
	margin: 1%;
	cursor: pointer;
	border: 3px solid transparent;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-repeat: no-repeat;
	transition: all 0.5s ease-in;

	&.active {
		border-bottom: 3px solid #bfa03f;
	}

}

.history-button {
	background-image: url('../img/nav/history.png');

	&:hover {
		background-image: url('../img/nav/history-hover.png');
	}
}

.roman-button {
	background-image: url('../img/nav/roman-past.png');

	&:hover {
		background-image: url('../img/nav/roman-past-hover.png');
	}
}

.theater-button {
	background-image: url('../img/nav/theaters.png');

	&:hover {
		background-image: url('../img/nav/theaters-hover.png');
	}
}

.niva-button {
	background-image: url('../img/nav/niva.png');

	&:hover {
		background-image: url('../img/nav/niva-hover.png');
	}
}
