.gerb-bottom {
    position: absolute;
    top: 177px;
	left: 7px;

	display: flex;
    width: 186px;
    @include z-level(3);

    .icon {
		@include size(91px, 116px);

		&:after {
			position: absolute;
			content: '';
			top: -2px;
			left: -2px;
			@include size(94px, 113px);
			background-repeat: no-repeat;
		}
	}

	.scroll {
		top: 3px;
		position: absolute;
	}
}

%gerb-bottom-wing {
	position: relative;
	margin-left: 2px;
	transition: transform .5s ease-in-out;
	@include z-level(1);
}
