%key-closed {
    .key {
        transform: translateX(0);

        .scroll {
            left: 10px;
            transition-delay: .5s;
        }

        .text {
            transition-delay: 0s;
        }
    }

    .bird {
        transition-delay: .5s;
        transform: translate(0, 0);
    }
}

%key-opened {
    .key {
        @include breakpoint(384px) {
            transform: translateX(-50%);
        }

        .scroll {
            left: 100px;
            width: 180px;
            transform: translateX(-7px);
            opacity: 1;
        }

        .text {
            transition-delay: .5s;
        }
    }

    .bird {
        transform: translateX(184px);
    }
}

#gerb {
    .key {
        @extend %gerb-bottom-wing;
        transform: translateX(0);

        .icon {
            &:before {
                background: url('../img/gerb/key.gif') no-repeat;
            }

            &:after {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1.5 -1.5 94 113' %3E%3Cpath d=' M 0 0 L 0 32 Q 13.75 97.25 73 110 L 91 110 L 91 0 L 0 0 Z ' fill='none' stroke-width='3' stroke='rgb(32, 32, 0)' /%3E%3C/svg%3E");
            }
        }

        .scroll {
            left: 10px;
            transition: left .5s ease-in-out;
            @include z-level('behind');
        }
    }

    &.key-opened {
        @extend %key-opened;

        &.closing {
            @extend %key-closed;
        }
    }
}