@font-face {
	font-family: "Bulgaria Moderna V3";
	src: url("../fonts/Bulgaria-Moderna-V3.otf") format("opentype");
}

* {
	margin: 0;
	padding: 0;
	line-height: 100%;
	box-sizing: border-box;
}


html, body {
	min-height: 860px;
	font-family: 'Bulgaria Moderna V3';
}

#wrap-all {
	min-height: 880px;
	@include size(100%);
	position: relative;

	background-image: url('../img/bg.png');
	background-position: center top;
	background-repeat: repeat-y;

	overflow: hidden;
}

.main-heading {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100px;

	font-size: 48px;
	letter-spacing: 5px;
	@include text-color();
	@extend %text-shadow;

	@extend %drop-shadow;
}

main {
	position: relative;
	text-align: center;
	margin: auto;
	padding-bottom: 200px;
}

.slider-wrap {
	position: absolute;
	bottom: 0;

	display: flex;
	justify-content: center;

	@include size(100%, 230px);

	.slider {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
	}
}
