// @import "https://fonts.googleapis.com/css?family=Quattrocento";
// @import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700');

@font-face {
	font-family: "Bulgaria Moderna V3";
	src: url("../fonts/Bulgaria-Moderna-V3.otf") format("opentype");
}

* {
	margin: 0;
	padding: 0;
	line-height: 100%;
	box-sizing: border-box;
}

.main-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	font-size: 48px;
	text-shadow:
		1px 1px 0px rgb(66, 8, 8),
		-1px -1px 0 rgb(66, 8, 8),
		1px -1px 0 rgb(66, 8, 8),
		-1px 1px 0 rgb(66, 8, 8),
		1px 1px 0 rgb(66, 8, 8);
	letter-spacing: 5px;
	color: rgb(173, 151, 22);
	color: #d8b54e;
	filter: drop-shadow(0 0 5px rgb(66, 8, 8));

	// @include breakpoint(350px) {
	// 	width: 100%;
	// 	background-size: 100%;
	// }
}

html, body {
	min-height: 860px;
	// font-family: Quattrocento;
	// font-family: 'Cinzel Decorative';
	font-family: 'Bulgaria Moderna V3';
}

.center {
	margin: auto;
	text-align: center;
}

.clear {
	clear: both;
}

#wrap-all {
	height: 100%;
	min-height: 880px;
	width: 100%;
	position: relative;
	background-image: url('../img/bg.png');
	background-position: center top;
	background-repeat: repeat-y;
}

.main-header {
	width: 100%;
}

.lang-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #d8b54e;
	filter: drop-shadow(0 0 5px rgb(66, 8, 8));
	border-bottom: none;

	.lang {
		opacity: .7;
		padding: 10px 10px 2px 10px;
		position: relative;

		&.active {
			border-bottom: 1px solid #d8b54e;
			opacity: 1;
		}

		&:hover {
			cursor: pointer;
			opacity: 1;
		}

		&:not(:last-of-type) {
			&:after {
				content: '|';
				position: absolute;
				top: 0;
				right: -1px;
				width: 2px;
				height: 100%;
				padding-top: 10px;
			}
		}
	}
}

#wrapper {
	margin: auto;
	text-align: center;
	position: relative;
	padding-bottom: 200px;
}

.slider {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 230px;
	margin: auto;
	background-image: url('../img/edge.png');
	background-repeat: no-repeat;
	background-position: center top;
}

#scroll-to-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-image: url('../img/scrolltop.jpg');
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px 0 #000;
	-moz-box-shadow: 0 0 10px 0 #000;
	box-shadow: 0 0 10px 0 #000;
	z-index: 2;
}

#scroll-to-top:hover {
	background-image: url('../img/scrolltop-hover.jpg');
	cursor: pointer;
}
