%key-closed {
    .key {
        .scroll {
            left: 10px;
            transition-delay: .5s;
        }

        .text {
            transition-delay: 0s;
        }
    }

    .bird {
        transition-delay: .5s;
        transform: translate(0, 0);
    }
}

%key-opened {
    .key {
        .scroll {
            left: 100px;
            width: 180px;
            transform: translateX(-7px);
            opacity: 1;
        }

        .text {
            transition-delay: .5s;
        }
    }

    .bird {
        transform: translateX(184px);
    }
}

#gerb {
    .key {
        @extend %key-bird-icon;
        background-image: url('../img/gerb/key.png');
        background-repeat: no-repeat;

        .icon {
            background-image: url('../img/gerb/key.png');
            background-repeat: no-repeat;
            position: relative;

            &:after {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-1.5 -1.5 94 113' %3E%3Cpath d=' M 0 0 L 0 32 Q 13.75 97.25 73 110 L 91 110 L 91 0 L 0 0 Z ' fill='none' stroke-width='3' stroke='rgb(32, 32, 0)' /%3E%3C/svg%3E");
            }

            &:hover {
                background-image: url('../img/gerb/key.gif');
            }
        }

        .scroll {
            z-index: -1;
            transition: left .5s ease-in-out;
            top: $scroll-top;
            left: 10px;
        }
    }

    &.key-opened {
        @extend %key-opened;

        &.closing {
            @extend %key-closed;
        }
    }
}