#gerb-wrap {
	background-image: url('../img/gerb/gerb-bg.png');
	background-position: center top;
	background-repeat: no-repeat;
	margin: auto;
	text-align: center;
}

#gerb {
	width: 200px;
	height: 300px;
	position: relative;
	margin: auto;
	z-index: 1;
}

.gerb-item {
	position: absolute;

	.icon:hover {
		cursor: pointer;
	}

	.text {
		display: none;
		width: 150px;
		background-image: url('../img/gerb/barbg.png');
		padding: 10px 15px 10px 15px;
		font-style: italic;
		color: yellow;
	}
}

// bar styles
.bar {
	width: 180px;
	height: 17px;
}

.upper-bar {
	background-image: url('../img/gerb/upper-bar.png');
}

.bottom-bar {
	background-image: url('../img/gerb/bottom-bar.png');

	&:hover {
		background-image: url('../img/gerb/bottom-bar-hover.png');
		cursor: pointer;
	}
}

.fort {
	top: 7px;
	left: 10px;

	.icon {
		width: 180px;
		height: 55px;
		background-image: url('../img/gerb/castle.png');

		&:hover{
			background-image: url('../img/gerb/castle.gif');
		}
	}
}

.sun {
	top: 62px;
	left: 7px;

	.icon {
		width: 180px;
		height: 109px;
		background-image: url('../img/gerb/sun.png');
		border: 3px solid black;

		&:hover{
			background-image: url('../img/gerb/sun.gif');
		}
	}

	.scroll {
		display: none;
		margin-left: 3px;
	}
}

$top: 175px;
$scroll-top: 3px;
$scroll-vetical: 100px;

%key-bird-icon {
	.icon {
		width: 91px;
		height: 116px;
		margin: 3px 3px 0px 3px;
	}

	.scroll {
		position: absolute;
		.bar {
			width: 0px;
		}
	}
}

.key {
	top: $top;
	left: 7px;
	background-image: url('../img/gerb/kbg.png');
	background-repeat: no-repeat;

	@extend %key-bird-icon;

	.icon {
		background-image: url('../img/gerb/key.png');
		background-repeat: no-repeat;

		&:hover {
			background-image: url('../img/gerb/key.gif');
		}
	}

	.scroll {
		top: $scroll-top;
		left: $scroll-vetical;
	}

}

.bird {
	top: $top;
	right: 5px;
	background-image: url('../img/gerb/bbg.png');
	background-repeat: no-repeat;

	@extend %key-bird-icon;

	.icon {
		background-image: url('../img/gerb/bird.png');
		background-repeat: no-repeat;

		&:hover {
			background-image: url('../img/gerb/bird.gif');
		}
	}

	.scroll {
		top: $scroll-top;
		right: $scroll-vetical;
	}

}
